doctype html
html(lang='en')
  head
    title three.js webgl - controls - deviceorientation
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, initial-scale=1')
    style.
      body {
      margin: 0px;
      background-color: #000000;
      overflow: hidden;
      }
      #info {
      position: absolute;
      bottom: 0px;
      width: 100%;
      color: #ffffff;
      padding: 5px;
      font-family:Monospace;
      font-size:13px;
      font-weight: bold;
      text-align:center;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.51) 22%, rgba(0,0,0,0.65) 28%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(22%,rgba(0,0,0,0.51)), color-stop(28%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.51) 22%,rgba(0,0,0,0.65) 28%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.51) 22%,rgba(0,0,0,0.65) 28%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.51) 22%,rgba(0,0,0,0.65) 28%,rgba(0,0,0,0.65) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.51) 22%,rgba(0,0,0,0.65) 28%,rgba(0,0,0,0.65) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      }
      a {
      color: #ff8800;
      }
  body
    #container
    #info housing

  script(src='/js/app.js', type='text/javascript')
